<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URL Shortner</title>
</head>
<body>
    <h2>Reduce URL</h2>  
    <form action="/" method="POST">
        <input type="text" name="ip">
        <button type="submit">Reduce</button>
    </form>
</body>
</html>