<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URL Shortner</title>
</head>
<body>
    <h2>Reduced URL</h2>
      <a href="<%=surl.url%>"><%=surl.redurl%></a>
</body>
</html>